<a href="https://colab.research.google.com/github/kartoone/cosc470s22/blob/main/learningpython/PopQuiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# sum up all the numbers between 1 and 100 inclusive
# hint: use range in your for loop, remembering that it's inclusive on the left and exclusive on the right end
sum = 0
for i in range(0,101):
  sum = sum + i
print(sum)

5050

In [9]:
# print a message indicating whether the sum is even or odd
if sum % 2 == 0:
  print(f"{sum} is even")
else:
  print("sum is odd")

# alternatively in one line
print("sum is even" if sum%2 == 0 else "sum is odd")

5050 is even
sum is even

In [18]:
# experimentally determine the pattern
# that yields an even or odd number of numbers
# between a given starting point and ending point
bookends = [
            [0,10],
            [1,9],
            [0,9],
            [1,10],
            [4,8],
            [5,7],
            [100,10001],
            [101,100000]
           ]
print(len(bookends)) # displays 4 b/c there are only four items in bookends
print(bookends[0]) # displays the first nested list in its entirety
print(bookends[0][0]) # displays the first item in the first nested list
print(bookends[0][1]) # displays the second item in the first nested list
for endpoints in bookends:
  count = 0
  for i in range(endpoints[0],endpoints[1]+1):
    count = count + 1
  print(f"count b/t {endpoints[0]} and {endpoints[1]} is {count}")

8
[0, 10]
0
10
count b/t 0 and 10 is 11
count b/t 1 and 9 is 9
count b/t 0 and 9 is 10
count b/t 1 and 10 is 10
count b/t 4 and 8 is 5
count b/t 5 and 7 is 3
count b/t 100 and 10001 is 9902
count b/t 101 and 100000 is 99900