<a href="https://colab.research.google.com/github/kartoone/cosc470s22/blob/main/learningpython/PythonDemo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Demostrating Python types**

In [ ]:
success = True
count = 0
pi = 3.14159
msg = "hello, world"
print(success, count, pi, msg)

True 0 3.14159 hello, world

**Working with Strings**

In [ ]:
# string concatenation
first = 'Brian'
last = 'Toone'
name = first + ' ' + last
print(name)

# string multiplication repeats the string 
eightzeros = 8*'0'
print(eightzeros)

# string manipulation
# accessing an individual character
print(name[0]) # first character
print(name[-1]) # last character
print(name[0:3]) # first three characters
print(name[2:5]) # characters 2, 3, and 4
print(name[1::2]) # every other character from beginning to end
print(len(name)) # prints the length of the string

Brian Toone
00000000
B
e
Bri
ian
ra on
11

**Lists**

In [ ]:
names = [] # creates an empty list
names.append("Brian Toone")
names = names + ["John Smith", "Sally Smith"]
print(names)
print('Sally Smith' + ' is located at index 2:',names.index('Sally Smith')) # returns the index of the given item

print('Removing ' +names.pop(1) + ' at position 1') # removes the item at position 1
print('Removing Brian Toone directly without the index.')
names.remove('Brian Toone') # removes the first occurrence of 'Brian Toone'
print(names)

nums = [3, 8, 2, 0, 1] # creates a list of numbers
print(nums)

print('Sorting nums (note this changes the list order permanently)')
nums.sort()
print(nums)

['Brian Toone', 'John Smith', 'Sally Smith']
Sally Smith is located at index 2: 2
Removing John Smith at position 1
Removing Brian Toone directly without the index.
['Sally Smith']
[3, 8, 2, 0, 1]
Sorting nums (note this changes the list order permanently)
[0, 1, 2, 3, 8]

**List comprehensions** is a powerful way of initializing a list using an embedded for loop. Best way to explain is to see it by example below.

In [10]:
evennums = [2*i for i in range(100)]
print(evennums)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

Lists do NOT have to be **type consistent** but you should consider whether this is something you "ought" to be doing ... how readable is your code? Will you (or somebody else) understand what the list is trying to represent?

In [1]:
# Not necessarily a great idea, but OK if the list is relatively short (probably needs to be shorter than this)
student = ['Brian Toone', 3.5, True, 1]
print(student)

['Brian Toone', 3.5, True, 1]

**Dictionaries**
are much better to use in the situation where you want to group multiple pieces of data together that have different types. A dictionary is simply a list of **key-value pairs**. You could think of a dictionary as a "list" that is indexed by strings (typically) instead of numbers. Although you will see in these first examples, you can index a dictionary with any type and even mix the types of the keys (also bad idea).

In [12]:
dictionary = {}
dictionary['term'] = "this is the 'value' for the term 'term'"
dictionary['anotherterm'] = "this is the definition (i.e., 'value') of a different term called 'anotherterm'"
dictionary[3] = "allowed, but bad idea"
print(dictionary)

sparselist = {}
sparselist[920348323] = 'john smith'
sparselist[939392192] = 'jane doe'
print(sparselist)

floatingdictionary = {}
floatingdictionary[0.0] = "zero"
floatingdictionary[0.5] = "one half"
floatingdictionary[1.0] = "one"
floatingdictionary[1.5] = "one and a half"
print(floatingdictionary)

strangedictionary = {}
strangedictionary[True] = ['apple','orange','cherry','pear']
strangedictionary[False] = ['carrot', 'broccolli', 'green beans']
print(strangedictionary)

{'term': "this is the 'value' for the term 'term'", 'anotherterm': "this is the definition (i.e., 'value') of a different term called 'anotherterm'", 3: 'allowed, but bad idea'}
{920348323: 'john smith', 939392192: 'jane doe'}
{0.0: 'zero', 0.5: 'one half', 1.0: 'one', 1.5: 'one and a half'}
{True: ['apple', 'orange', 'cherry', 'pear'], False: ['carrot', 'broccolli', 'green beans']}

In [9]:
# the previous examples were all pretty weird ... here is the most common way of using dictionaries
# let's say we want to create a list of students
students = []   # this creates an empty list

# now let's populate the student list interactively
while True:
  student = {} # each student record will be a dictionary ... start out by creating an empty dictionary
  student['name'] = input("Student name (enter QUIT to exit)? ")
  if (student['name']=='QUIT'):
    break
  student['gpa'] = float(input("GPA? ")) # everything comes across as a string, so have to manually convert to floating point number
  student['employee'] = True if input("Employee (Y/N)? ") == 'Y' else False   # note the ternary operator is quite verbose in python, so it is also pretty self explanatory
  student['year'] = int(input('Year (1-freshman, 2-sophomore, etc...)? ')) # again, we must convert from string to integer
  students.append(student) # this appends the dictionary representing a single student to the list of students

print(students) # note that this happens AFTER we break out of the while loop

Student name (enter QUIT to exit)? asdf
GPA? 3.5
Employee (Y/N)? Y
Year (1-freshman, 2-sophomore, etc...)? 1
Student name (enter QUIT to exit)? sdfg
GPA? 4.0
Employee (Y/N)? n
Year (1-freshman, 2-sophomore, etc...)? 5
Student name (enter QUIT to exit)? QUIT
[{'name': 'asdf', 'gpa': 3.5, 'employee': True, 'year': 1}, {'name': 'sdfg', 'gpa': 4.0, 'employee': False, 'year': 5}]

**Control flow statements**

In [ ]:
words = ['cat','window','defenestrate']
for w in words:
  print(w, len(w))

cat 3
window 6
defenestrate 12

In [ ]:
for i, w in enumerate(words):
  print(i, w)

0 cat
1 window
2 defenestrate

In [ ]:
for i in range(len(words)):
  print(i, words[i], len(words[i]))

0 cat
1 window
2 defenestrate